
@use "../../scss/variables";
@use "../../scss/mixins";

.header{
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: variables.$secondary;


h1{

}


   
};

.btnWrapper{
    @include mixins.wrapper(2rem);

}

 button{
    padding: 0.7rem 1rem;
    background-color: white;
    border: none;
    transition: all 1s ease 0s;
    border-radius: 0.7rem;
    font-size: 1.3rem;

    &:hover{
        background-color: variables.$btn-bg;
    }
 }